<div class="m-2">
  <label for={{inputName()}} class="form-label">{{label()}}</label>
  @if(desabilitado()){
    <select name={{inputName()}} id={{inputId()}} class="form-control" selectedIndex="{{inputValue()}}" disabled>
      @for (item of itens(); track item.value){
        <option value="{{item.value}}">{{item.name}}</option>
      }
    </select>
  } @else {
    <select name={{inputName()}} id={{inputId()}} class="form-control" value="{{inputValue()}}">
      @for (item of itens(); track item.value){
        <option value="{{item.value}}">{{item.name}}</option>
      }
    </select>
  }
</div>
